#nav-color {
    color: white;
}
#button{
    color: red;
    width: fit-content;
    
}
#game{
    color: red;
    text-align:left;
    padding-top: 15px;
}
#price{
    color: red;
    margin: 50px;
    margin: auto;
}